/* -------PATTISJOKKI RIPAN.SE---------- */

/* Fetching custom fonts */
@font-face {
  font-family: "AmericanTypewriter";
  src: url("./fonts/AmericanTypewriter.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue";
  src: url("./fonts/BebasNeue-Regular.ttf") format("truetype");
}

/* VARIABLES */

$page-width: 1000px;

/* All MenuPage content */
.page-id-5576 {
  @media only screen and (min-width: $page-width) {
    background: {
      image: url("./images/paperBody.jpg");
      size: 100vw auto;
      repeat: repeat;
      attachment: fixed;
    }
  }
  margin: 0;

  .pattisjokkiMenu__Wrapper {
    min-height: 100vh;
    max-width: $page-width;
    margin: 0 auto;
    padding: {
      top: 80px;
      // bottom: 25px;
    }
    background: {
      image: url("./images/paperWrapper.jpg");
      repeat: repeat;
      size: $page-width auto;
    }
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-align: center;
    * {
      grid-column: 4 / -4;
      @media only screen and (max-width: 625px) {
        grid-column: 3 / -3;
      }
    }
    p {
      letter-spacing: 1px;
      line-height: 25px;
    }
    h5 {
      letter-spacing: 2px;
      margin: 30px 0 0 0;
    }
    img {
      max-width: 100%;
    }

    .pattisjokkiMenu__MatFilosofi {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      .pattisjokkiMenu__PageHeading {
        // font-size: 45px;
        margin-top: 50px;
      }
      .pattisjokkiMenu__MatFilosofi--TextSection {
        font-family: "AmericanTypewriter";
        font-size: 18px;
        grid-column: 2/-2;
        margin: {
          top: 20px;
        }
        @media only screen and (max-width: 625px) {
          font-size: 14px;
          margin-top: 0;
        }
        p {
          letter-spacing: 1px;
          // text-shadow: 2px 1px 7px rgba(255, 255, 255, 0.4);
        }
      }
    }

    /* Divider Images */
    .divider {
      grid-column: 1 / -1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .divider--full {
      @media only screen and (max-width: 625px) {
        width: 110%;
        justify-self: center;
      }
    }
    .divider--right {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      img {
        max-width: 55%;
        @media only screen and (max-width: 625px) {
          max-width: 65%;
        }
      }
    }

    .divider--left {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      img {
        max-width: 55%;
        @media only screen and (max-width: 625px) {
          max-width: 65%;
        }
      }
    }

    .pattisjokkiMenu__PageHeading {
      font: {
        family: "BebasNeue";
        weight: 100;
        size: 55px;
      }
      letter-spacing: 5px;
      margin-bottom: -50px;
      z-index: 1;
      margin-top: 180px;
      @media only screen and (max-width: 625px) {
        font-size: 42px;
        margin-bottom: -25px;
        margin-top: 100px;
      }
    }
    .pattisjokkiMenu__PageHeading.desserts {
      margin-bottom: -70px;
      @media only screen and (max-width: 625px) {
        margin-bottom: -50px;
      }
    }

    .menuItem__heading {
      font: {
        family: "BebasNeue";
        weight: 100;
        size: 22px;
      }
      z-index: 1;
    }

    .menuItem__info {
      font-size: 18px;
      margin-bottom: 20px;
    }
    .menuItem__price {
      font-size: 20px;
    }
    .menuItem__recommendedDrink {
      font-size: 15px;
      line-height: 20px;
    }

    section {
      font-family: "AmericanTypewriter";
    }

    .pattisjokkiMenu__Footer {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 5px;
      margin: {
        left: 50px;
        right: 50px;
      }
      @media only screen and (max-width: 625px) {
        margin: {
          left: 12px;
          right: 12px;
        }
      }
      .pattisjokkiMenu__FooterInfo {
        grid-column: 1 / -1;
        font-family: "AmericanTypewriter";
        margin: {
          bottom: 12px;
          top: 80px;
        }
      }
      .pattisjokkiMenu__FooterImages {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        @media only screen and (max-width: 900px) {
          // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          * {
            -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
            -ms-flex: auto;
            @media only screen and (max-width: 900px) {
              -ms-flex-preferred-size: 50%;
              flex-basis: 50%;
            }
            // width: 250px;
          }
          // grid-template-rows: 1fr 1fr;
        }
      }
      .footerImage {
        -webkit-transition: 1s;
        transition: 1s;
        position: relative;
        // padding-bottom: 120px;
        img {
          padding-top: 15px;
          max-height: 50px;
        }
        .content {
          -webkit-transform: translateY(0);
          transform: translateY(0);
          margin: auto;
          padding: 0;
          z-index: 2;
          -webkit-transition: all 1s ease;
          transition: all 1s ease;
        }
        p {
          opacity: 0;
          visibility: hidden;
          // display: none;
          line-height: 1.5em;
          font-family: "AmericanTypewriter";
          font-size: 11px;
          padding: {
            left: 8px;
            right: 8px;
            bottom: 15px;
          }
          @media only screen and (max-width: 767px) {
            font-size: 8px;
          }
        }
        &:hover {
          .content {
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);

            background: rgba(255, 255, 255, 0.3);
            -webkit-box-shadow: 0px 20px 50px #555;
            box-shadow: 0px 20px 50px #555;
            border-radius: 5px;
          }
          p {
            opacity: 1;
            visibility: visible;
            // display: block;
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
          }
        }
      }

      .footerImage1 {
        grid-column: 1 / span 1;
        @media only screen and (max-width: 900px) {
          // grid-column: auto;
          margin: 0 auto;
        }
      }
      .footerImage2 {
        grid-column: 2 / span 1;
        @media only screen and (max-width: 900px) {
          // grid-column: auto;
          margin: 0 auto;
        }
      }
      .footerImage3 {
        grid-column: 3 / span 1;
        @media only screen and (max-width: 900px) {
          // grid-column: auto;
          margin: 0 auto;
        }
      }
      .footerImage4 {
        grid-column: 4 / span 1;
        @media only screen and (max-width: 900px) {
          grid-column: auto;
          margin: 0 auto;
        }
      }
      .footerImage5 {
        grid-column: 5 / span 1;
        @media only screen and (max-width: 900px) {
          grid-column: auto;
          margin: 0 auto;
        }
      }
    }
  }
}
