/* -------PATTISJOKKI RIPAN.SE---------- */
/* Fetching custom fonts */
@font-face {
  font-family: "AmericanTypewriter";
  src: url("./fonts/AmericanTypewriter.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  src: url("./fonts/BebasNeue-Regular.ttf") format("truetype");
}

/* All MenuPage content */
/* line 14, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 {
  background-image: url("./images/paperBody.jpg");
  background-size: 100vw auto;
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
}

/* line 23, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 80px;
  background-image: url("./images/paperWrapper.jpg");
  background-repeat: repeat;
  background-size: 1000px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: center;
  /* Divider Images */
  /* End Divider Images */
}

/* line 39, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper * {
  grid-column: 3 / -3;
}

/* line 43, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper img {
  max-width: 100%;
}

/* line 48, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .divider {
  grid-column: 1 / -1;
}

/* line 51, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .menuImage--full {
  grid-column: 1 / -1;
}

/* line 55, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .menuImage--right {
  grid-column: span 7 / -1;
  margin-top: 50px;
  margin-bottom: -14px;
}

/* line 63, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .menuImage--left {
  grid-column: 1 / span 7;
  margin-top: 50px;
  margin-bottom: -14px;
}

/* line 71, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .menuImage--wideSpan--left {
  grid-column: 1 / span 8;
}

/* line 76, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__PageHeading {
  font-family: "BebasNeue";
  font-weight: 100;
  font-size: 55px;
  letter-spacing: 5px;
  margin-bottom: -50px;
  z-index: 1;
}

/* line 87, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .menuItem__heading {
  font-family: "BebasNeue";
  font-weight: 100;
  font-size: 22px;
  z-index: 1;
}

/* line 96, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .menuItem__info {
  font-size: 18px;
  margin-bottom: 20px;
}

/* line 101, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper section {
  font-family: "AmericanTypewriter";
}

/* line 105, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

/* line 115, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterInfo {
  grid-column: 1 / -1;
  font-family: "AmericanTypewriter";
  margin-bottom: 12px;
  margin-top: 80px;
}

/* line 124, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage {
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
}

/* line 128, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage img {
  padding-top: 15px;
  max-height: 50px;
}

/* line 132, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage .content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  margin: auto;
  padding: 0;
  z-index: 2;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 141, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage p {
  opacity: 0;
  visibility: hidden;
  line-height: 1.5em;
  font-family: "AmericanTypewriter";
  font-size: 11px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 15px;
}

/* line 154, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage:hover .content {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 20px 50px #555;
  box-shadow: 0px 20px 50px #555;
  border-radius: 5px;
}

/* line 165, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage:hover p {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 174, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage1 {
  grid-column: 1 / span 1;
}

/* line 177, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage2 {
  grid-column: 2 / span 1;
}

/* line 180, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage3 {
  grid-column: 3 / span 1;
}

/* line 183, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage4 {
  grid-column: 4 / span 1;
}

/* line 186, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan.se/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage5 {
  grid-column: 5 / span 1;
}

/*# sourceMappingURL=../style.map */